<div class="contenedor-plataformas">
    <!-- Sección: PLATAFORMAS -->
    <section class="plataformas-titulo">
        <h2>PLATAFORMAS</h2>
    </section>

    <!-- Sección: OPCIONES PLATAFORMAS -->
    <section class="opciones-plataformas">
        <details>
            <summary>RAPICREDIT</summary>
            <p>
            Apartado de excel de Rapicredit.
            </p>
        </details>

        <details>
            <summary>LINERU</summary>
            <p>
            Apartado de excel de Lineru.
            </p>
        </details>

        <details>
            <summary>KREDITICY</summary>
            <p>
            Apartado de excel de Krediticy.
            </p>
        </details>

        <details>
            <summary>Solventa</summary>
            <p>
            Apartado de excel de Solventa.
            </p>
        </details>
    </section>
</div>
