<!-- Menú de navegación (Navbar) -->
<nav class="navbar">
    <ul>
      <li><a href="/quienes-somos">¿Quiénes somos?</a></li>
      <li><a href="/orientacion">Orientación</a></li>
      <li><a href="/rapicredit">Rapicredit</a></li>
      <li><a href="/krediticy">Krediticy</a></li>
      <li><a href="/lineru">Lineru</a></li>
      <li><a href="/otras-opciones">Otras opciones</a></li>
    </ul>
  </nav>
  
  <!-- Aquí se cargará el contenido de cada página -->
  <router-outlet></router-outlet>
  