<!-- Contenido principal -->
<section id="quienes-somos" class="quienes-somos">
  <h2 class="quienes-somos-title">¿QUÉ ES INCREDICOL?</h2>

  <div class="quienes-somos-contenedor">
    <p class="quienes-somos-text">
      Somos una plataforma digital pensada para ayudarte a tomar mejores
      decisiones financieras. Sabemos que muchas personas necesitan un
      microcrédito, pero no saben por dónde empezar, qué opción les conviene o a
      qué entidades pueden confiarles sus datos. Por esto, reunimos en un solo
      lugar diferentes opciones de plataformas Fintech que ofrecen microcréditos
      rápidos, seguros y 100% en línea.
    </p>
    <img src="assets/fintech.png" alt="fintech" class="quienes-somos-img" />
    <p class="quienes-somos-text">
      Nuestro objetivo es que compares, entiendas y elijas la mejor alternativa
      para ti, sin complicaciones. Promovemos la inclusión financiera, la
      educación y el acceso justo al crédito, especialmente para quienes
      tradicionalmente han estado excluidos del sistema financiero formal.
    </p>
  </div>

  <h2 class="benefits-title">BENEFICIOS DE USAR INCREDICOL</h2>
  <div class="benefits">
    <div class="benefit-item">
      <h3>SIMULACIÓN DE CONDICIONES</h3>
      <p>
        Prueba diferentes montos, plazos y tasas de interés para saber cuál se
        ajusta mejor a tus necesidades.
      </p>
    </div>
    <div class="benefit-item">
      <h3>FACILIDAD Y RAPIDEZ</h3>
      <p>
        Simplifica el proceso de solicitud de créditos, ahorrando tiempo y
        trámites.
      </p>
    </div>
    <div class="benefit-item">
      <h3>EDUCACIÓN FINANCIERA</h3>
      <p>
        Aprende sobre cómo administrar mejor tu negocio y tus finanzas
        personales.
      </p>
    </div>
    <div class="benefit-item">
      <h3>ACCESO A CRÉDITOS FORMALES</h3>
      <p>
        Evita los altos costos y riesgos del crédito informal, accediendo a
        opciones reguladas y seguras.
      </p>
    </div>
  </div>
</section>

<!-- Sección de Plataformas Fintech -->
<section id="orientacion" class="fintech-platforms">
  <h2 class="fintech-platforms-title">PLATAFORMAS FINTECH</h2>
  <div class="platform-list">
    <div id="rapicredit" class="platform-item yellow">
      <span class="circle">01</span>
      <span class="platform-name">RAPICREDIT</span>
    </div>
    <div id="krediticy" class="platform-item green-light">
      <span class="circle">02</span>
      <span class="platform-name">KREDITICY</span>
    </div>
    <div id="lineru" class="platform-item green-dark">
      <span class="circle">03</span> <span class="platform-name">LINERU</span>
    </div>
    <div id="otras-opciones" class="platform-item blue-light">
      <span class="circle">04</span>
      <span class="platform-name">OTRAS OPCIONES</span>
    </div>
  </div>
</section>
